@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 15px;
    background-color: aqua;
}

h1 {
    display: inline-block;
    margin: 0;
}

nav-links {
    float: right;
    clear: both;
    margin-top: 3px;
}

nav-link {
    margin: 5px;
}

nav-link a {
    text-decoration: none;
    color: crimson;
}

post-list {
    align-items: center;
    height: 80%;
    display: flex;
    flex-direction: column;
}

post-list ul {
    justify-content: center;
    align-items: center;
    display: block;
    list-style: none;
}

post-list li {
    text-align: center;
    vertical-align: center;
    width: 300px;
    height: 1.5rem;
}

post-list a {
    text-decoration: none;
    color: black;
}

post-list a:hover
 {
    cursor: pointer;
    font-size: 1.1rem;
}

blog-post h2,
form-container h2,
 about h2 {
    text-align: center;
}

blog-content {
    margin: 0 auto;
}

blog-content p {
    padding: 10px;
}

about-container h2 {
    text-align: center;
}

about-container p {
    text-align: center;
    padding: 10px;
}

form-container form {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
}

form-container input, form-container textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
}

form-container input[type='submit'] {
    background-color: aquamarine;
    font-size: 24px;
}
